    //Map sektion
    .map{
        background-image: url(../../images/Map.png); //Visste inte hur jag skulle få en vanlig <img> att bete sig på detta viset, så jag satte den som bakgrundsbild. Vet inte hur korrekt det är egentligen
        background-position: center;
        background-repeat: no-repeat;

        height: 620px;

        margin-top: 94px;
    }