footer {
  background-color: #0E1021;
}
footer p, footer a {
  color: rgb(189, 189, 189);
}
footer .footer-nav-section {
  position: relative;
}
footer .footer-nav-section .footer-element {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
footer .footer-nav-section .footer-nav {
  max-width: 1380px;
  padding: 100px 40px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
@media (max-width: 1200px) {
  footer .footer-nav-section .footer-nav {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }
}
footer .footer-nav-section .footer-nav .footer-about {
  margin-right: 25px;
}
footer .footer-nav-section .footer-nav .footer-about p {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  footer .footer-nav-section .footer-nav .footer-about {
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
  }
  footer .footer-nav-section .footer-nav .footer-about img {
    display: block;
    margin: auto;
    margin-bottom: 22px;
  }
  footer .footer-nav-section .footer-nav .footer-about p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  footer .footer-nav-section .footer-nav .footer-about {
    max-width: 500px;
    width: 80%;
  }
}
footer .footer-nav-section .footer-nav nav {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}
@media (max-width: 768px) {
  footer .footer-nav-section .footer-nav nav {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    justify-content: space-around;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  footer .footer-nav-section .footer-nav nav div {
    text-align: center;
  }
}
footer .footer-nav-section .footer-nav nav div h4 {
  color: white;
  margin-bottom: 30px;
}
footer .footer-nav-section .footer-nav nav div a {
  display: block;
  -webkit-text-decoration: underline 1px solid transparent;
          text-decoration: underline 1px solid transparent;
  margin: 15px 0;
  transition: -webkit-text-decoration 0.15s ease-in-out;
  transition: text-decoration 0.15s ease-in-out;
  transition: text-decoration 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out;
}
footer .footer-nav-section .footer-nav nav div a:hover {
  -webkit-text-decoration: underline 1px solid rgb(189, 189, 189);
          text-decoration: underline 1px solid rgb(189, 189, 189);
}
footer .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1725490196);
}
footer .footer-bottom .footer-bottom-container {
  max-width: 1380px;
  padding: 10px 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  footer .footer-bottom .footer-bottom-container {
    display: block;
  }
}
@media (max-width: 768px) {
  footer .footer-bottom .footer-bottom-container .social {
    display: none;
  }
}
footer .footer-bottom .footer-bottom-container .social .social-icons {
  display: inline-block;
  margin: 0 15px;
}
footer .footer-bottom .footer-bottom-container .social .social-icons a {
  text-decoration: none;
  color: white;
}
footer .footer-bottom .footer-bottom-container .social .social-icons a i {
  font-size: 16px;
  transition: color 0.1s ease-in-out;
}
footer .footer-bottom .footer-bottom-container .social .social-icons a i:hover {
  color: rgba(255, 255, 255, 0.4784313725);
}
footer .footer-bottom .footer-bottom-container .mobile {
  display: none;
}
@media (max-width: 768px) {
  footer .footer-bottom .footer-bottom-container .mobile {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: auto;
    margin-top: 15px;
  }
}
footer .footer-bottom .footer-bottom-container .mobile .social-icons {
  margin: 0;
}
@media (max-width: 768px) {
  footer .footer-bottom .footer-bottom-container p {
    text-align: center;
  }
}