.article-and-sidebar {
  max-width: 1380px;
  padding: 0 40px;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .article-and-sidebar {
    flex-direction: column;
  }
}

.darker-background {
  background-color: #F0EFE9;
}