.not-found-section{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    background-color: #F0EFE9;
    text-align: center;
    h1{

        
        span{
            display: block;

            &:first-child{
                font-size: 55px;
            }

            &:last-child{
                margin-bottom: 15px;
            }
        }
    }
}