.projects-section .projects-section-container {
  max-width: 1380px;
  padding: 60px 40px;
  margin: auto;
}
.projects-section .projects-section-container h6 {
  text-align: center;
}
.projects-section .projects-section-container h2 {
  text-align: center;
}
.projects-section .projects-section-container .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 645px);
  gap: 10px;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .projects-section .projects-section-container .projects-grid {
    grid-template-columns: repeat(auto-fit, 340px);
  }
}
.projects-section .projects-section-container .projects-button {
  margin: auto;
  margin-top: 10px;
  width: 250px;
}