//Showcase sektion
.showcase-section{
    position:relative;

    background-color: #F0EFE9;

    .showcase-container{
        width: 1280px;

        margin: auto;

        display: flex;

        @media (max-width: 1400px){
            width: 1000px;

            align-items: center;
        }

        @media (max-width: 1200px){
            width: 800px;
        }

        @media (max-width: 992px){
            width: 600px;
        }

        @media (max-width: 768px){
            width: 100%;
        }

        .showcase{
            h1{
                font-size: 86px;

                margin: 0;
                margin-top: 100px;

                @media (max-width: 1400px){
                    font-size: 3.5rem;

                    margin-left: 25px;
                    margin-top: 0;
                }

                @media (max-width: 1200px){
                    text-align: center;

                    margin: 15px;
                    margin-top: 30px;
                }

                @media (max-width: 768px){
                    padding: 0 20px;

                    font-size: 3rem;
                    text-align: center;

                    margin: 10px;
                }
            }

            p{
                margin: 0;
                margin-top: 17px;
                margin-bottom: 45px;

                font-size: 20px;

                color: #191919;

                @media (max-width: 1400px){
                    margin-left: 25px;
                }

                @media (max-width: 1200px){
                    margin: 0;
                    margin-top: 35px;
                    margin-bottom: 55px;

                    text-align: center;
                }

                @media (max-width: 768px){
                    padding: 0 20px;
                    
                    text-align: center;

                    margin-right: 15px;
                    margin-left: 15px;
                    margin-bottom: 55px;
                    margin-top: 35px;
                }
            }

            .showcase-buttons-section{
                display:flex;

                @media (max-width: 1400px){

                    margin-left: 25px;
                }

                @media (max-width: 1200px){
                    justify-content: center;

                    margin-bottom: 50px;
                }

                @media (max-width: 768px){
                    display: block;
                }

                a{

                    @media (max-width: 768px){
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        img{
            margin-top: 40px;
            margin-right: -50px;

            @media (max-width: 1400px){
                width: 450px;

                margin-right: 5px;
            }

            @media (max-width: 1200px){
                display:none;
            }

            @media (max-width: 768px){
                display:none;
            }


        }
    }
}