.sidebar {
  margin-left: 100px;
  width: 420px;
}
@media (max-width: 1400px) {
  .sidebar {
    margin-left: 0;
    margin-top: 65px;
  }
}
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .searchbar {
  position: relative;
}
.sidebar .searchbar input {
  width: 100%;
  background-color: rgba(25, 25, 25, 0.0549019608);
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 25px 15px 60px;
}
.sidebar .searchbar input:focus {
  outline: none;
}
.sidebar .searchbar button {
  position: absolute;
  top: 4px;
  left: 14px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar .searchbar button:hover {
  background-color: rgba(0, 0, 0, 0.041);
}
.sidebar .recent-posts {
  margin-top: 35px;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 30px 40px;
}
.sidebar .recent-posts h4 {
  margin: 0;
  margin-bottom: 20px;
}
.sidebar .recent-posts h4::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background-color: black;
}
.sidebar .categories a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin: 10px 0;
}
.sidebar .categories a:hover {
  color: rgb(133, 132, 132);
}
.sidebar .categories a span {
  color: rgb(133, 132, 132);
}